@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Lilita+One&display=swap');
@font-face {
  font-family: 'gmarketBold';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'gmarketMedium';
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'gmarketLight';
  src: url('/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full;
}

body {
  @apply bg-softBlue;
}

td {
  @apply text-center;
}

.ProseMirror-focused {
  @apply outline-none;
}
.ProseMirror h1 {
  @apply text-3xl max-sm:text-lg;
}

.ProseMirror h2 {
  @apply text-2xl max-sm:text-base;
}

.ProseMirror h3 {
  @apply text-xl max-sm:text-sm;
}

.ProseMirror p {
  @apply max-sm:text-xs;
}

.ProseMirror strong {
  @apply font-gBold;
}

.ProseMirror ol > li {
  @apply list-decimal pl-2;
}

.ProseMirror ul > li {
  @apply list-disc pl-2;
}

.ProseMirror ol,
.ProseMirror ul {
  @apply pl-5;
}
